.container {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
}

.backButton {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 60rem;
}

.containerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.containerInput {
  width: 100%;
  margin-bottom: 3rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #595959;
}

.containerClientsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  padding-bottom: 2rem;
}

.listText {
  font-size: 1.2rem;
  font-weight: 700;
}

.client {
  border: 0.1rem solid #595959;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.4rem;
}

.clientName,
.clientVehicle {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.clientVehicle {
  color: #505050;
}
