.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  min-height: 100vh;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 50rem;
}

.containerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.containerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonRegisteredCustomers,
.buttonsRegisterCustomer {
  margin: 1rem 0;
  padding: 1.3rem;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
}

.buttonRegisteredCustomers {
  color: #ffffff;
  background-color: #202b57;
}

.buttonsRegisterCustomer {
  color: #000;
  background-color: #9be6e0;
}

.buttonRegisteredCustomers:hover {
  background-color: #0b1648;
}

.buttonsRegisterCustomer:hover {
  background-color: #56a59f;
}

.linkToQrCode {
  padding: 1.3rem 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.qrCodeTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: rgb(223, 223, 223);
  padding: 1.3rem;
  border-radius: 0.4rem;
  font-weight: 700;
}

.icon {
  margin-left: 0.5rem;
}
