.container {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
}

.backButton {
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.containerSelects {
  width: 100%;
  height: 70%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 600;
}

.select {
  margin: 1rem 0;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.submitButton {
  padding: 1.3rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: #202b57;
}

.submitButton:hover {
  background-color: #0b1648;
}
